.container {
    margin: 0 auto;
    padding: 20px;
}
@media screen and (min-width: 320px) {
    .container {
        min-width: 320px;
    }
}
@media screen and (min-width: 500px) {
    .container {
        min-width: 500px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }
}
@media screen and (min-width: 1240px) {
    .container {
        min-width: 1240px;
    }
}