@import '../../global/styles/palette.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    width: 70%;
    cursor: pointer;
    translate: text-shadow 300ms linear;
}
.title:hover, title:focus {
    text-shadow: 3px 3px 5px rgb(157, 234, 241);
}
.modeBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.ion-icon {
    font-size: 1.5rem;
}
.linkOnMainPage {
    text-decoration: none;
}
button ion-icon[name='moon'] {
    color: var(--color-text);
}
@media screen and (min-width: 500px) {
    .title {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.5;
    }
}
@media screen and (min-width: 768px) {
    .modeBtn {
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        width: 7rem;
    }
    .title {
        font-size: 26px;
        font-weight: 800;
        line-height: 1.5;
    }
}

